<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Total Claimed</mat-card-title>
    <mat-card-subtitle>
      Your max payout of $2,500,000 is calculated by adding withdrawals and compounds.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="chart-container">
    <canvas
      baseChart
      [type]="barChartType"
      [datasets]="barChartData.datasets"
      [labels]="barChartData.labels"
      [options]="barChartOptions"
      [legend]="barChartLegend">
    </canvas>
  </mat-card-content>
</mat-card>
