<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Key Stats</mat-card-title>
    <mat-card-subtitle>
      At the end of the investment plan
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content-container no-wrap roi-container">
    <div class="row">
      <div class="row stat-group">
        <div class="stat-container left">
          <div class="icon">
            <i class="iconsmind-Elephant large"></i>
          </div>
          <div class="label-value" matTooltip="Total Value Locked">
            <div>Balance (TVL)</div>
            <strong>{{balance | currency}}</strong>
          </div>
        </div>
        <div class="stat-container right">
          <div class="label-value" matTooltip="Total Withdrawn From Balance">
            <div>Withdrawals</div>
            <strong>{{withdrawals | currency}}</strong>
          </div>
        </div>
      </div>

      <div class="row stat-group">
        <div class="stat-container left">
          <div class="icon">
            <i class="iconsmind-Coin large"></i>
          </div>
          <div class="label-value" matTooltip="Total Deposited (Cost)">
            <div>Deposits</div>
            <strong>{{deposits | currency}}</strong>
          </div>
        </div>
        <div class="stat-container right">
          <div class="label-value" matTooltip="Total Earnings Compounded">
            <div>Compounds</div>
            <strong>{{compounds | currency}}</strong>
          </div>
        </div>
      </div>

      <div class="row stat-group">
        <div class="stat-container left">
          <div class="icon">
            <i class="iconsmind-Mine large"></i>
          </div>
          <div class="label-value" matTooltip="Withdrawals + Compounds">
            <div>Claimed</div>
            <strong>{{totalPayouts | currency}}</strong>
          </div>
        </div>
        <div class="stat-container right">
          <div class="label-value" matTooltip="Days Elapsed">
            <div>Days</div>
            <strong>{{totalDays}}</strong>
          </div>
        </div>
      </div>

      <div class="row stat-group">
        <div class="stat-container left">
          <div class="icon">
            <i class="iconsmind-Bank large"></i>
          </div>
          <div class="label-value" matTooltip="Withdrawals - Deposits">
            <div>Realized Profit</div>
            <strong>{{realizedProfit | currency}}</strong>
          </div>
        </div>
        <div class="stat-container right">
          <div class="label-value" matTooltip="Realized Profit Percentage">
            <div>Percent</div>
            <strong>{{realizedProfitPercent}}%</strong>
          </div>
        </div>
      </div>

      <div class="row stat-group">
        <div class="stat-container left">
          <div class="icon">
            <i class="iconsmind-Coins large"></i>
          </div>
          <div class="label-value" matTooltip="Balance + Pending Rewards">
            <div>Unrealized Profit</div>
            <strong>{{unrealizedProfit | currency}}</strong>
          </div>
        </div>
        <div class="stat-container right">
          <div class="label-value" matTooltip="Unrealized Profit Percentage">
            <div>Percent</div>
            <strong>{{unrealizedProfitPercent}}%</strong>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Investment Growth Chart</mat-card-title>
    <mat-card-subtitle>
      Value of your investment over time
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content-container no-wrap">
    <app-time-line-chart></app-time-line-chart>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>End-of-Plan Value</mat-card-title>
    <mat-card-subtitle>
      Breakdown of investment value at the conclusion of the plan
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content-container">
    <div class="row">
      <app-result-bar-chart
        [balance]="balance"
        [deposits]="deposits"
        [compounds]="compounds"
        [withdrawals]="withdrawals"
        [realizedProfit]="realizedProfit"
        [unrealizedProfit]="unrealizedProfit"
        [totalPayouts]="totalPayouts"
      ></app-result-bar-chart>
      <!--      <app-deposit-pie-chart-->
      <!--        [deposits]="deposits"-->
      <!--        [compounds]="compounds"-->
      <!--        [withdrawals]="withdrawals"-->
      <!--      ></app-deposit-pie-chart>-->
    </div>
  </mat-card-content>
</mat-card>

<app-profit-bar-chart
  [withdrawals]="withdrawals"
  [deposits]="deposits"
  [realizedProfit]="realizedProfit"
  [dailyData]="dailyData"
></app-profit-bar-chart>

<app-claim-bar-chart
  [withdrawals]="withdrawals"
  [compounds]="compounds"
  [totalPayouts]="totalPayouts"
  [dailyData]="dailyData"
></app-claim-bar-chart>
