:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: 2px;
  }

  .subtitle {
    display: flex;
    align-items: center;
    gap: .5rem;

    h2 {
      margin: 0;
    }
  }

  .go-to-button {
    position: fixed;
    right: .75rem;
    z-index: 1000;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }

    &.go-down {
      bottom: .75rem;
    }

    &.go-up {
      bottom: 4rem;
    }
  }
}
