<header>
  <h1>Elephant.Money</h1>
  <div class="subtitle">
    <img ngSrc="assets/images/elephant.png" alt="logo" width="24" height="24">
    <h2>Futures Calculator</h2>
  </div>
</header>

<app-form></app-form>
<app-stats></app-stats>
<app-calculations-table></app-calculations-table>

<footer>
  <button *ngIf="showScrollBottom" class="go-to-button go-down" mat-mini-fab color="accent" (click)="goToBottom()">
    <mat-icon fontIcon="keyboard_double_arrow_down"></mat-icon>
  </button>
  <button *ngIf="showScrollTop" class="go-to-button go-up" mat-mini-fab color="accent" (click)="goToTop()">
    <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
  </button>
  <a href="https://wiki.elephant.money/services/elephant-money-futures-vaults">wiki.elephant.money</a>
</footer>
