/* You can add global styles to this file, and also import other style files */
@import "assets/font/iconsmind.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  flex-grow: 1;
  margin: 0 0.5rem;

  mat-card-header {
    margin-bottom: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem;

    &:has(mat-form-field) {
      margin-bottom: 0;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
