:host {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .field {
    flex-grow: 1;
    width: 215px;
    min-width: 215px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
    width: 100%;
  }

}
