:host {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card {
    flex-grow: 1;
    margin: 0 .5rem;

    mat-card-header {
      margin-bottom: 1rem;
    }
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .field {
    flex-grow: 1;
    width: 215px;
    min-width: 215px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

}
