<app-key-stats
  [withdrawals]="withdrawals"
  [compounds]="compounds"
  [totalPayouts]="totalPayouts"
  [totalDays]="totalDays"
  [deposits]="deposits"
  [balance]="balance"
  [realizedProfit]="realizedProfit"
  [realizedProfitPercent]="realizedProfitPercent"
  [unrealizedProfit]="unrealizedProfit"
  [unrealizedProfitPercent]="unrealizedProfitPercent"
  [availableYield]="availableYield"
></app-key-stats>

<app-time-line-chart></app-time-line-chart>

<app-withdraw-bar-chart [dailyData]="dailyData"></app-withdraw-bar-chart>

<app-profit-bar-chart [dailyData]="dailyData"></app-profit-bar-chart>

<app-claim-bar-chart [dailyData]="dailyData"></app-claim-bar-chart>
